Repository CS305-F18-TeamDOS/Gradebook, pull requests merged in 2018-12, with the labels that each got.

#25 Add submission mgmt ui and api (partial)
  src/webapp/README.md
  src/webapp/client/html/README.md
  src/webapp/client/html/changeLog.html
  src/webapp/client/html/manageAssessmentTypesForm.html
  src/webapp/client/html/manageAssessments.html
  src/webapp/client/html/manageStudentGrades.html
  src/webapp/client/html/manageStudentGradesForm.html
  src/webapp/gradebookServer.js
Labels: enhancement, one review

#26 Fix css and js file locations
  src/webapp/client/html/manageStudentGradesForm.html
Labels: one review

#27 Use sql functions
  src/db/addAssessmentComponentMgmt.sql
  src/db/addAssessmentItemMgmt.sql
  src/webapp/gradebookServer.js
Labels: one review

#28 Db bug fixes
  src/db/addAssessmentComponentMgmt.sql
  src/db/addInstructorMgmt.sql
  src/db/addReferenceData.sql
  src/db/addSeasonMgmt.sql
  src/db/initializeDB.sql
  src/db/prepareDB.psql
  src/db/prepareServer.sql
  src/webapp/client/js/index.js
Labels: bug, one review
